.App {
  text-align: center;
  background-color: #ffc8fd;
  min-height: 100vh;
}

.App-logo {
}

.flag-button {
  /* pointer-events:stroke; */
cursor: pointer;
  border-radius: 10px;

  height: 40vmin;
  width: 40vmin;
  background-image: url(./images/pride\ square.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}

.bit-gay-button {
  margin-top: 4rem;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
  color: white;
  font-weight: bolder;
  font-size:xx-large;
  /* background-color: tomato, ; */
}

@media (prefers-reduced-motion: no-preference) {
  .flag-button {
    animation: flag-button-spin infinite 20s linear;
  }
  .flag-button:hover {
    transform: scale(1.05, 1.05);
  }
  .flag-button:active {
    transform: translateY(3px);
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes flag-button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
